<h2>The Burger Menu!</h2>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
      
    <li>
        {{burger_name}}
        <button class="burgerEat" data-name="{{this.burger_name}}" data-id="{{this.ID}}"> EAT ME </button>
    </li>

    {{/unless}}
  {{/each}}
</ul>

<h3> Devoured! </h3>
<ul>
  {{#each burgers}}
    {{#if devoured}}
      
    <li>
        {{burger_name}}
        <button class="regurgitate" data-name="{{this.burger_name}}" data-id="{{this.ID}}"> Regurgitate? </button>
    </li>

    {{/if}}
  {{/each}}
</ul>

<form action="/burgers/create" method="post" class="create-form">
  <div class="form-group">
    <label for="ca">Add a Burger!:</label>
    <input type="text" id="burg" name="name">
  </div>